  <br><br>
  <footer class="probootstrap-footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8">
          <div class="row">
            <div class="col-lg mb-4"><h2 class="probootstrap-heading"><a href="/" class="footer-brand">TEQIP</a></h2></div>
            <div class="col-lg">
              <div class="probootstrap-footer-widget mb-4">
                <h2 class="probootstrap-heading-2"></h2>
                <ul class="list-unstyled">
                  <li><a href="/reports" class="py-2 d-block mv-lt">Reports</a></li>
                  <li><a href="/events" class="py-2 d-block mv-lt">Events</a></li>
                  <li><a href="/commitee" class="py-2 d-block mv-lt">Commitee</a></li>
                  <li><a href="/image-gallery" class="py-2 d-block mv-lt">Image Gallery</a></li>
                  <li><a href="/contact" class="py-2 d-block mv-lt">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg">
               <div class="probootstrap-footer-widget mb-4">
                <h2 class="probootstrap-heading-2">Useful links</h2>
                <ul class="list-unstyled">
                  <li><a href="http://www.iiti.ac.in/" class="py-2 d-block mv-lt" target="_blank">IIT Indore</a></li>
                  <li><a href="http://mhrd.gov.in/" class="py-2 d-block mv-lt" target="_blank">MHRD</a></li>
                  <li><a href="http://www.npiu.nic.in/" class="py-2 d-block mv-lt" target="_blank">NPIU</a></li>
                  <li><a href="http://www.npiu.nic.in/KIT.html" class="py-2 d-block mv-lt" target="_blank">KIT's</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="probootstrap-footer-widget mb-4">
            <ul class="probootstrap-footer-social list-unstyled float-md-right float-lft">
              <li><a href="https://www.facebook.com/teqipiiti/" target="_blank"><span class="icon-facebook"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md text-md-right text-left">
          <p><small>Made with <span class="icon-heart"></span> by <span style="color:#FFF;">Pranshu Maheshwari</span> BTech IIT Indore</small></p>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
