  <br><br>
  <footer>
    <div class="container jumbotron bottom">
      <div class="row">
        <div class="col-md-3 white foot">
          <h4>TEQIP Office</h4> <br>
          Room No. 401 <br>
          Chromium Building <br>
          Indian Institute of Technology <br>
          Indore- 453552 <br>
          Email: <br>
          Phone: <br>
        </div>
        <div class="col-md-9 white foot">
          <ul class="foot-nav">
            <li>
              <a href="/commitee" target="_blank">TEQIP Commitee</a>
            </li>
            <li>
              <a href="/staff" target="_blank">TEQIP Staff</a>
            </li>
            <li>
              <a href="/image-gallery" target="_blank">Image Gallery</a>
            </li>
            <li>
              <a href="/video-gallery" target="_blank">Video Gallery</a>
            </li>
            <li>
              <a href="/contact" target="_blank">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
      <hr class="my-3">
    </div>
  </footer>
  </body>
</html>
