<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Gloria+Hallelujah|Merienda" rel="stylesheet">
      <!-- Others -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
      <!-- Local -->
      <link rel="stylesheet" href="/stylesheets/style.css">
      <script type="text/javascript" src="/javascript/js.js"></script>
  </head>
  <body>
    <div class=" container jumbotron">
      <div class="row">
        <div class="col-sm-10">
          <h1>TEQIP</h1><br>
          <h3 class="institute">Indian Institute of Technology Indore</h3>
        </div>
        <img src="http://www.iiti.ac.in/About_IITI/images/222.png" class="float-right rounded" style="width:150px;height:150px;float:right;">
      </div>
      <hr class="my-3">
      <nav class="navbar navbar-light navbar-expand-lg">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Home</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
              <a href="/quality-circle" class="nav-link">Quality Circle</a>
            </li>
            <li class="nav-item">
              <a href="/reports" class="nav-link">Reports</a>
            </li>
            <li class="nav-item">
              <a href="/commitee" class="nav-link">Commitee</a>
            </li>
            <li class="nav-item">
              <a href="/events" class="nav-link">Events</a>
            </li>
            <li class="nav-item">
              <a href="/staff" class="nav-link">Staff</a>
            </li>
            <li class="nav-item">
              <a href="/contact" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
              <a href="/activity-list" class="nav-link">Activity List</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Gallery</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a href="/image-gallery" class="nav-link">Image Gallery</a>
                </li>
                <li class="nav-item">
                  <a href="/video-gallery" class="nav-link">Video Gallery</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="row">
