<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <!-- Others -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <!-- FROM TEMPLATE -->
      <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
      <link rel="stylesheet" href="/css/icomoon.css">
      <link rel="stylesheet" href="/css/style.css">
      <script src="/javascript/main.js"></script>
      <script type="text/javascript" src="/javascript/js.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navabr-dark">
          <div class="container">
            <a class="navbar-brand" href="/">TEQIP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="probootstrap-nav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link mv-tp">Home</a></li>
                <li class="nav-item"><a href="/quality-circle" class="nav-link mv-tp">Quality Circle</a></li>
                <li class="nav-item"><a href="/reports" class="nav-link mv-tp">Reports</a></li>
                <li class="nav-item"><a href="/commitee" class="nav-link mv-tp">Commitee</a></li>
                <li class="nav-item"><a href="/events" class="nav-link mv-tp">Events</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link mv-tp">Contact</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle cl" data-toggle="dropdown" aria-expanded="true">Gallery</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a href="/image-gallery" class="nav-link" style="color:#000; font-size:1.3em;">Image Gallery</a>
                    </li>
                    <li class="nav-item">
                      <a href="/video-gallery" class="nav-link" style="color:#000; font-size:1.3em;">Video Gallery</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
