<div class="col-sm-3">
  <br><br><br><br>
  <div class="upcoming">
    <br>
    <img src="/images/Upcoming-Events.png" width="150px" height="150px" style="float:center;margin-left:20%;">
    <br>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <br>
  </div>
</div>
