<% include ./partials/header.ejs %>

<div class="container">
  <div class="col-sm-9">
    <h3>Activity List</h3> <br>
    <ol>
      <li>Faculty engagements including summer/winter internships at IITs and other courses</li>
      <li>Summer/ winter internship (4 weeks) at IIT for UG and PG students from focus states</li>
      <li>Competitive UG/ PG projects to promote UG research in the focus state TEQIP institutions</li>
      <li>Credit transfer, collaborative PhD and Master’s thesis (with the IIT), for availing academic ambience of IIT from focus and non-focus states</li>
      <li>Funding for collaborative research for faculty (maximum two years) from menteeinstitution and 1 faculty from IITs.</li>
      <li>Installing peer review mechanism for assessing faculty performance (a detailed list of teachers of mentee institutions will be mapped with IITs</li>
      <li>Training of Technical/ Library/ Administrative Staff in 2-3 day workshop</li>
      <li>Periodic review by IIT faculty and offer consultation to project institution for development of laboratories</li>
      <li>Organizing International / National conference in the project institution through collaboration with leading role by IIT</li>
      <li>Gathering feedbacks participants on the activities attended from participating institutes at IITs</li>
      <li>Organizing GATE sensitization orientation workshops at participating institutes through PG/PhD students / faculty of IITs</li>
    </ol>
  </div>
</div>

<% include ./partials/footer.ejs %>
