<% include ./partials/header.ejs %>
    <div class="col-sm-9">
      <h3>Faculty Coordinators</h3><br><br>
      <ul>
        <li>
          <div class="row">
            <div class="col-sm-3">
              <img src="/images/image1.jpg" alt="" width='150px'>
            </div>
            <ul>
              <li><a href="http://ce.iiti.ac.in/downloads/profile/CV_Sandeep_IIT%20Indore.pdf" target="_blank">Dr. Sandeep Chaudhary</a></li>
              <li>Email: schaudhary@iiti.ac.in</li>
              <li>Phone: +91 7324 306 540</li>
            </ul>
          </div>
        </li>
        <br>
        <li>
          <div class="row">
            <div class="col-sm-3">
              <img src="/images/image3.jpg" alt="" width='150px'>
            </div>
            <ul>
              <li><a href="http://www.iiti.ac.in/people/~skvishvakarma/" target="_blank">Dr. Santosh Kumar Vishwakarma</a></li>
              <li>Email: skvishvakarma@iiti.ac.in</li>
              <li>Phone: +91 7324 306 595</li>
            </ul>
          </div>
        </li>
        <br>
        <li>
          <div class="row">
            <div class="col-sm-3">
              <img src="/images/image2.jpg" alt="" width='150px'>
            </div>
            <ul>
              <li><a href="http://people.iiti.ac.in/~vkt/group.php" target="_blank">Dr. Vinod Kumar</a></li>
              <li>E-mail: vkt@iiti.ac.in</li>
              <li>Phone: +91 7324 306 533</li>
            </ul>
          </div>
        </li>
        <br>
        <li>
          <div class="row">
            <div class="col-sm-3">
              <img src="/images/image4.jpg" alt="" width='150px'>
            </div>
            <ul>
              <li><a href="http://iiti.ac.in/people/~ajaykk/index.html" target="_blank">Dr. Ajay Kumar Kushwaha</a></li>
              <li>E-mail: akk@iiti.ac.in</li>
              <li>Phone: +91 7324 306 532</li>
            </ul>
          </div>
        </li>
    </ul>
    </div>
<% include ./partials/upcoming.ejs %>
<% include ./partials/footer.ejs %>
