<% include ./partials/header.ejs %>
<section class="probootstrap-cover">
 <div class="container">
   <div class="row probootstrap-vh-75 align-items-center text-left">
     <div class="col-sm">
       <div class="probootstrap-text pt-5">
         <h1 class="probootstrap-heading text-white mb-4">Commitee</h1>
       </div>
     </div>
   </div>
 </div>
</section>

<section class="probootstrap-section">
  <div class="container">
    <h3 class="probootstrap-heading mb-5">Faculty Coordinators</h3><br><br>
    <ul class="rm-dot">
      <li>
        <div class="row">
          <div class="col-sm-3">
            <img src="/images/commitee/image1.jpg" alt="" width='150px'>
          </div>
          <div class="col-sm">
            <ul class="rm-dot">
              <li><a href="http://ce.iiti.ac.in/downloads/profile/CV_Sandeep_IIT%20Indore.pdf" target="_blank">Dr. Sandeep Chaudhary</a></li>
              <li>Email: schaudhary@iiti.ac.in</li>
              <li>Phone: +91 7324 306 540</li>
            </ul>
          </div>
        </div>
      </li>
      <br>
      <li>
        <div class="row">
          <div class="col-sm-3">
            <img src="/images/commitee/image3.jpg" alt="" width='150px'>
          </div>
          <div class="col-sm">
            <ul class="rm-dot">
              <li><a href="http://www.iiti.ac.in/people/~skvishvakarma/" target="_blank">Dr. Santosh Kumar Vishwakarma</a></li>
              <li>Email: skvishvakarma@iiti.ac.in</li>
              <li>Phone: +91 7324 306 595</li>
            </ul>
          </div>
        </div>
      </li>
      <br>
      <li>
        <div class="row">
          <div class="col-sm-3">
            <img src="/images/commitee/image2.jpg" alt="" width='150px'>
          </div>
          <div class="col-sm">
            <ul class="rm-dot">
              <li><a href="http://people.iiti.ac.in/~vkt/group.php" target="_blank">Dr. Vinod Kumar</a></li>
              <li>E-mail: vkt@iiti.ac.in</li>
              <li>Phone: +91 7324 306 533</li>
            </ul>
          </div>
        </div>
      </li>
      <br>
      <li>
        <div class="row">
          <div class="col-sm-3">
            <img src="/images/commitee/image4.jpg" alt="" width='150px'>
          </div>
          <div class="col-sm">
            <ul class="rm-dot">
              <li><a href="http://iiti.ac.in/people/~ajaykk/index.html" target="_blank">Dr. Ajay Kumar Kushwaha</a></li>
              <li>E-mail: akk@iiti.ac.in</li>
              <li>Phone: +91 7324 306 532</li>
            </ul>
          </div>
        </div>
      </li>
  </ul>
  <!-- <br><br>
   <h3 class="probootstrap-heading mt-5">Staff</h3> -->
  </div>
</section>

<style media="screen">
  .rm-dot{
    list-style-type: none;
  }
  .rm-dot a{
    color: #000;
    opacity: 0.8;
    font-size: 1.3em;
  }
  .rm-dot a:hover{
    margin-left: 10px;
    opacity: 0.3;
    color: #000;
  }
  .rm-dot li{
    font-size: 1.1em;
  }
  ul ul{
    margin-top: 25px;
  }
</style>
<% include ./partials/footer.ejs %>
