<% include ./partials/header.ejs %>
  <div class="col-sm-9">
    <h3>Contact</h3><br><br>
    <p>
      Room No. 401 <br>
      Chromium Building <br>
      Indian Institute of Technology <br>
      Indore- 453552 <br>
      Email: teqip@iiti.ac.in<br>
      Phone: 07324-306818<br><br>
      @<a href="https://www.facebook.com/teqipiiti/" target="_blank">Facebook</a><br>
    </p>
  </div>
<% include ./partials/upcoming.ejs %>
<% include ./partials/footer.ejs %>
