<% include ./partials/header.ejs %>
  <div class="col-sm-9">
    <h3>Events List</h3><br><br>
    <ul class="size14">
      <li>
        <a href="/pdf/events/1.pdf" target="_blank">Faculty Induction Workshop</a>
      </li>
      <li>
        <a href="/pdf/events/2.pdf" target="_blank">Recent Advances in Geotechnical and Structural Engineering</a>
      </li>
      <li>
        <a href="/pdf/events/3.pdf" target="_blank">Introduction to Finite Element Analysis (FEA)</a>
      </li>
      <li>
        <a href="/pdf/events/4.pdf" target="_blank">Bearing and Fault Diagnosis</a>
      </li>
      <li>
        <a href="/pdf/events/5.pdf" target="_blank">Sustainable Water Resources Management under Changing Climate</a>
      </li>
      <li>
        <a href="/pdf/events/6.pdf" target="_blank">Training Program for Senior Faculty on Active Learning</a>
      </li>
    </ul><br><br>
    <h3>Experts</h3><br>
    <ul class="size14">
      <li>
        <a href="/pdf/events/experts.pdf" target="_blank">From Outside</a>
      </li>
      <li>
        <a href="/experts-iit_indore">From IIT Indore</a>
      </li>
    </ul>
  </div>
<% include ./partials/upcoming.ejs %>
<% include ./partials/footer.ejs %>
