<% include ./partials/header.ejs %>

<div class="col-sm-9">
  <h3>IIT Indore Experts</h3> <br><br>
  <div class="row">
    <div class="col-sm-4">
      <ul class="rm-dot">
        <li>
          <a href="http://iiti.ac.in/people/~nkjain/" target="_blank">Prof. Neelesh Kumar Jain</a>
        </li>
        <li>
          <a href="http://iiti.ac.in/people/~asrivastava/work%20exp.html" target="_blank">Dr. Abhishek Srivastava</a>
        </li>
        <li>
          <a href="http://people.iiti.ac.in/~nmenon/work%20exp.html" target="_blank">Dr. Nirmala Menon</a>
        </li>
        <li>
          <a href="https://sites.google.com/site/eswarprasad/" target="_blank">Dr. Eswara Prasad Korimilli</a>
        </li>
        <li>
          <a href="https://sites.google.com/a/cornell.edu/munir/" target="_blank">Dr. Munir Ahmad Nayak</a>
        </li>
        <li>
          <a href="http://ce.iiti.ac.in/downloads/profile/CV_Sandeep_IIT%20Indore.pdf" target="_blank">Dr. Sandeep Chaudhary</a>
        </li>
        <li>
          <a href="http://www.iiti.ac.in/Institute/counselling_cell/" target="_blank">Ms. Monika Gupta</a>
        </li>
        <li>
          <a href="http://rnd.iiti.ac.in/rndadmin.php" target="_blank">Mr. Pradeep Agarwal</a>
        </li>
        <li>
          <a href="https://sites.google.com/site/santoshhosa/" target="_blank">Dr. Santosh Hosmani</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="rm-dot">
        <li>
          <a href="http://www.iiti.ac.in/people/~xray/" target="_blank">Dr. Shaikh M. Mobin</a>
        </li>
        <li>
          <a href="http://www.iiti.ac.in/people/~somnathd/" target="_blank">Dr. Somnath Dey</a>
        </li>
        <li>
          <a href="http://people.iiti.ac.in/~ruchi/" target="_blank">Dr. Ruchi Sharma</a>
        </li>
        <li>
          <a href="http://people.iiti.ac.in/~meiiti/index.php/dr-anand-parey/" target="_blank">Prof. Anand Parey</a>
        </li>
        <li>
          <a href="http://www.iiti.ac.in/people/~surya/" target="_blank">Dr. Surya Prakash</a>
        </li>
        <li>
          <a href="http://www.iiti.ac.in/people/~pachori/" target="_blank">Prof. Ram Bilas Pachori</a>
        </li>
        <li>
          <a href="http://iiti.ac.in/people/~rajneesh/" target="_blank">Prof. Rajneesh Mishra</a>
        </li>
        <li>
          <a href="http://iiti.ac.in/Contacts/library_service.html" target="_blank">Ms. Anjali Bandiwadekar</a>
        </li>
        <li>
          <a href="http://people.iiti.ac.in/~meiiti/index.php/dr-indrasen-singh/" target="_blank">Dr. Indrasen Singh</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="rm-dot">
        <li>
          <a href="http://iiti.ac.in/people/~palaniia/" target="_blank">Dr. I. A. Palani</a>
        </li>
        <li>
          <a href="http://www.iiti.ac.in/people/~rajeshkumar/" target="_blank">Dr. Rajesh Kumar</a>
        </li>
        <li>
          <a href="https://sites.google.com/view/mkg1/home" target="_blank">Dr. Manish Kumar Goyal</a>
        </li>
        <li>
          <a href="http://people.iiti.ac.in/~vkt/group.php" target="_blank">Dr. Vinod Kumar</a>
        </li>
        <li>
          <a href="http://iiti.ac.in/people/~ajaykk/index.html" target="_blank">Dr. Ajay Kr. Kushwaha</a>
        </li>
        <li>
          <a href="http://www.iiti.ac.in/people/~skvishvakarma/" target="_blank">Dr. S. K. Vishvakarma</a>
        </li>
        <li>
          <a href="http://people.iiti.ac.in/~neelima.satyam/" target="_blank">Dr. Neelima Satyam</a>
        </li>
        <li>
          <a href="https://scholar.google.co.in/citations?user=hf2x04QAAAAJ&hl=en" target="_blank">Dr. Parashram M. Shirage</a>
        </li>
        <li>
          <a href="https://sites.google.com/view/sdcomposites/contact-details" target="_blank">Dr. Subbareddy Daggumati</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<% include ./partials/upcoming.ejs %>
<% include ./partials/footer.ejs %>
