<% include ./partials/header.ejs %>
<section class="probootstrap-cover">
 <div class="container">
   <div class="row probootstrap-vh-75 align-items-center text-left">
     <div class="col-sm">
       <div class="probootstrap-text pt-5">
         <h1 class="probootstrap-heading text-white mb-4">Image Gallery</h1>
       </div>
     </div>
   </div>
 </div>
</section>

<section class="probootstrap-section">
  <div class="container">
    <div class="col-md pl-md-5 pl-0 probootstrap-image-grid">
      <div class="row mb-2 mt-2">
        <div class="col-md-6 pr-2">
          <a href="/images/gallery/1.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/1.jpg);"></div></a>
        </div>
        <div class="col-md-6 pl-2">
          <a href="/images/gallery/2.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/2.jpg);"></div></a>
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="col-md-6 pr-2">
          <a href="/images/gallery/3.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/3.jpg);"></div></a>
        </div>
        <div class="col-md-6 pl-2">
          <a href="/images/gallery/4.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/4.jpg);"></div></a>
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="col-md-6 pr-2">
          <a href="/images/gallery/5.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/5.jpg);"></div></a>
        </div>
        <div class="col-md-6 pl-2">
          <a href="/images/gallery/6.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/6.jpg);"></div></a>
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="col-md-6 pr-2">
          <a href="/images/gallery/7.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/7.jpg);"></div></a>
        </div>
        <div class="col-md-6 pl-2">
          <a href="/images/gallery/8.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/8.jpg);"></div></a>
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="col-md-6 pr-2">
          <a href="/images/gallery/9.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/9.jpg);"></div></a>
        </div>
        <div class="col-md-6 pl-2">
          <a href="/images/gallery/10.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/10.jpg);"></div></a>
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="col-md-6 pr-2">
          <a href="/images/gallery/11.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/11.jpg);"></div></a>
        </div>
        <div class="col-md-6 pl-2">
          <a href="/images/gallery/12.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/12.jpg);"></div></a>
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="col-md-6 pr-2">
          <a href="/images/gallery/13.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/13.jpg);"></div></a>
        </div>
        <div class="col-md-6 pl-2">
          <a href="/images/gallery/14.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/14.jpg);"></div></a>
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="col-md-6 pr-2">
          <a href="/images/gallery/15.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/15.jpg);"></div></a>
        </div>
        <div class="col-md-6 pl-2">
          <a href="/images/gallery/16.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/16.jpg);"></div></a>
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="col-md-6 pr-2">
          <a href="/images/gallery/17.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/17.jpg);"></div></a>
        </div>
        <div class="col-md-6 pl-2">
          <a href="/images/gallery/18.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/18.jpg);"></div></a>
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="col-md-6 pr-2">
          <a href="/images/gallery/19.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/19.jpg);"></div></a>
        </div>
        <div class="col-md-6 pl-2">
          <a href="/images/gallery/20.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/20.jpg);"></div></a>
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="col-md-6 pr-2">
          <a href="/images/gallery/21.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/21.jpg);"></div></a>
        </div>
        <div class="col-md-6 pl-2">
          <a href="/images/gallery/22.jpg" class="probootstrap-img-item" data-toggle="lightbox"><div style="background-image: url(images/gallery/22.jpg);"></div></a>
        </div>
      </div>
    </div>
  </div>
</section>
<% include ./partials/footer.ejs %>
