<% include ./partials/header.ejs %>
<div class="container">
  <div class="col-sm-9">
    <div id="images">
      <!-- Added images using js -->
    </div>
  </div>
</div>
<script type="text/javascript" src="/javascript/image-gallery.js"></script>
<% include ./partials/footer.ejs %>
