<% include ./partials/header.ejs %>
  <div class="col-sm-9">
    <h3>IIT Indore Quality Circle</h3><br><br>
    <table class="table table-bordered">
      <thead>
        <th>Name of Focus State</th>
        <th></th>
        <th>Partner Mentor Institute</th>
      </thead>
      <tbody>
        <tr>
          <td rowspan="7" style="vertical-align: middle!important;">Madhya Pradesh</td>
          <td><a href="https://www.jecjabalpur.ac.in/index.aspx" target="_blank">Jabalpur Engineering College,Jabalpur</a></td>
          <td><a href="http://www.walchandsangli.ac.in/" target="_blank">Walchand College of Engineering,Sangli, Maharashtra</a></td>
        </tr>
        <tr>
          <td><a href="http://www.uecu.ac.in/" target="_blank">Ujjain Engineering College, Ujjain</a></td>
          <td><a href="http://geca.ac.in/home.aspx" target="_blank">Government Engineering College,Aurangabad, Maharashtra</a></td>
        </tr>
        <tr>
          <td><a href="http://mitsgwalior.in/" target="_blank">Madhav Institute of Technology & Science, Gwalior</a></td>
          <td><a href="http://dtu.ac.in/" target="_blank">Delhi Technological University, NCT Delhi</a></td>
        </tr>
        <tr>
          <td><a href="http://www.sgsits.ac.in/" target="_blank">Shri G S Indore Institute of Technology & Science, Indore</a></td>
          <td><a href="http://www.coep.org.in/" target="_blank">College of Engineering, Pune, Maharashtra</a></td>
        </tr>
        <tr>
          <td><a href="http://recrewa.ac.in/" target="_blank">Rewa Engineering College, Rewa</a></td>
          <td><a href="http://www.spce.ac.in/" target="_blank">BVB's Sardar Patel College of Engineering, Mumbai</a></td>
        </tr>
        <tr>
          <td><a href="http://www.satiengg.in/" target="_blank">Samrat Ashok Technological Institute, Engg. College, Vidisha(M.P.)</a></td>
          <td><a href="http://www.vnit.ac.in/" target="_blank">VNIT, Nagpur</a></td>
        </tr>
        <tr>
          <td><a href="http://www.igecsagar.ac.in/" target="_blank">Indira Gandhi Engineering College, Sagar</a></td>
          <td><a href="http://svuce.edu.in/" target="_blank">SVU College of Engineering, Tirupati</a></td>
        </tr>
      </tbody>
    </table><br><br>
    <a href="http://www.teqip.in/subcomponent1_1.html" class="btn btn-dark" target=”_blank”>List of TEQIP Institutions</a>
  </div>
<% include ./partials/upcoming.ejs %>
<% include ./partials/footer.ejs %>
