<% include ./partials/header.ejs %>
<div class="container">
  <div class="col-sm-9">
    <h3>IIT Indore Quality Circle</h3><br><br>
    <table class="table table-bordered">
      <thead>
        <th>Name of Focus State</th>
        <th></th>
        <th>Partner Mentor Institute</th>
      </thead>
      <tbody>
        <tr>
          <td>Odisha</td>
          <td>Government Engineering College,Keonjhar</td>
          <td>IIT Indore</td>
        </tr>
        <tr>
          <td>Uttarakhand</td>
          <td>Seemant Engineering Institute,Pithoragarh</td>
          <td>IIT Indore</td>
        </tr>
        <tr>
          <td rowspan="7" style="vertical-align: middle!important;">Madhya Pradesh</td>
          <td>Jabalpur Engineering College,Jabalpur</td>
          <td>Walchand College of Engineering,Sangli, Maharashtra</td>
        </tr>
        <tr>
          <td>Ujjain Engineering College, Ujjain</td>
          <td>Government Engineering College,Aurangabad, Maharashtra</td>
        </tr>
        <tr>
          <td>Madhav Institute of Technology & Science, Gwalior</td>
          <td>Delhi Technological University, NCT Delhi</td>
        </tr>
        <tr>
          <td>Shri G S Indore Institute ofTechnology & Science, Indore</td>
          <td>College of Engineering, Pune, Maharashtra</td>
        </tr>
        <tr>
          <td>Rewa Engineering College, Rewa</td>
          <td>BVB's Sardar Patel College of Engineering, Mumbai</td>
        </tr>
        <tr>
          <td>Samrat Ashok Technological Institute, Engg. College, Vidisha(M.P.)</td>
          <td>VNIT, Nagpur</td>
        </tr>
        <tr>
          <td>Indira Gandhi Engineering College, Sagar</td>
          <td>SVU College of Engineering, Tirupati</td>
        </tr>
      </tbody>
    </table><br><br>
    <a href="http://www.teqip.in/subcomponent1_1.html" class="btn btn-dark" target=”_blank”>List of TEQIP Institutions</a>
  </div>
</div>
<% include ./partials/footer.ejs %>
