<% include ./partials/header.ejs %>
  <div class="col-sm-9">
    <h3>Reports</h3><br><br>
    <ol>
      <li><a href="/pdf/Pressnote TEQIP.pdf" target=”_blank”>Introduction to Finite Element Analysis</a></li>
      <li><a href="/pdf/SHORTCOURSE IIT INDORE.pdf" target=”_blank”>Geotechnical And Structrual Engineering</a></li>
      <li><a href="/pdf/STC_TEQIP_REPORT_IITI 13 Sept 2018.pdf" target=”_blank”>Sustainable Water Resources Management under Changing Climate</a></li>
      <li><a href="/pdf/TEQIP report.pdf" target=”_blank”>Advanced Surface Science and Engineering</a></li>
      <li><a href="/pdf/TEQIP_report_parey.pdf" target=”_blank”>Bearing And Gear Fault Diagnosis</a></li>
    </ol>
  </div>
<% include ./partials/upcoming.ejs %>
<% include ./partials/footer.ejs %>
