<% include ./partials/header.ejs %>
<section class="probootstrap-cover">
 <div class="container">
   <div class="row probootstrap-vh-75 align-items-center text-left">
     <div class="col-sm">
       <div class="probootstrap-text pt-5">
         <h1 class="probootstrap-heading text-white mb-4">Reports</h1>
       </div>
     </div>
   </div>
 </div>
</section>

<section class="probootstrap-section">
  <div class="container">
    <ol style="font-size:1.5em;">
      <li><a href="/pdf/reports/Faculty Induction Workshop Report IIT Indore.pdf" target="_blank">Faculty Induction Workshop Report</a></li>
      <li><a href="/pdf/reports/Pressnote TEQIP.pdf" target=”_blank”>Introduction to Finite Element Analysis</a></li>
      <li><a href="/pdf/reports/SHORTCOURSE IIT INDORE.pdf" target=”_blank”>Geotechnical And Structrual Engineering</a></li>
      <li><a href="/pdf/reports/STC_TEQIP_REPORT_IITI 13 Sept 2018.pdf" target=”_blank”>Sustainable Water Resources Management under Changing Climate</a></li>
      <li><a href="/pdf/reports/TEQIP report.pdf" target=”_blank”>Advanced Surface Science and Engineering</a></li>
      <li><a href="/pdf/reports/TEQIP_report_parey.pdf" target=”_blank”>Bearing And Gear Fault Diagnosis</a></li>
    </ol>
  </div>
</section>

<style media="screen">
  ol li a{
    color: #000;
    opacity: 0.8;
    font-size: 1.1em;
  }
  ol li a:hover{
    opacity: 0.3;
    color: #000;
    margin-left: 10px;
  }
</style>
<% include ./partials/footer.ejs %>
