<% include ./partials/header.ejs %>
<div class="container">
  <div class="col-sm-6">
    <h3>Reports</h3>
    <ol>
      <li><a href="/pdf/Pressnote TEQIP.pdf" target=”_blank”>Introduction to Finite Element Analysis</a></li>
      <li><a href="/pdf/SHORTCOURSE IIT INDORE.pdf" target=”_blank”>GEOTECHNICAL AND STRUCTURAL ENGINEERING</a></li>
      <li><a href="/pdf/STC_TEQIP_REPORT_IITI 13 Sept 2018.pdf" target=”_blank”>Sustainable Water Resources Management under Changing Climate</a></li>
      <li><a href="/pdf/TEQIP report.pdf" target=”_blank”>Advanced Surface Science and Engineering</a></li>
      <li><a href="/pdf/TEQIP_report_parey.pdf" target=”_blank”>BEARING AND GEAR FAULT DIAGNOSIS</a></li>
    </ol>
  </div>
</div>
<% include ./partials/footer.ejs %>
