<% include ./partials/header.ejs %>

<div class="col-sm-9">
  <h3>Useful Links</h3><br><br>
  <ul class='useful-links'>
    <li>
      <a href="iiti.ac.in" target="_blank">IIT Indore</a>
    </li>
    <li>
      <a href="http://mhrd.gov.in/" target="_blank">MHRD</a>
    </li>
    <li>
      <a href="http://www.npiu.nic.in/" target="_blank">NPIU</a>
    </li>
    <li>
      <a href="http://www.cdeep.iitb.ac.in/TEQIP.php" target="_blank">KIT IIT Bombay</a>
    </li>
    <li>
      <a href="http://www.iitgn.ac.in/kn/" target="_blank">KIT IIT Gandhinagar</a>
    </li>
    <li>
      <a href="http://www.iitg.ac.in/cet/teqip3.html" target="_blank">KIT IIT Guwahati</a>
    </li>
    <li>
      <a href="https://www.iith.ac.in/teqip/" target="_blank">KIT IIT Hyderabad</a>
    </li>
    <li>
      <a href="http://www.teqipiitk.in/" target="_blank">KIT IIT Kanpur</a>
    </li>
    <li>
      <a href="http://www.cep.iitkgp.ac.in/cep/" target="_blank">KIT IIT Kharagpur</a>
    </li>
    <li>
      <a href="http://cepqip.iitd.ac.in/teqip.html" target="_blank">KIT IIT Delhi</a>
    </li>
  </ul>
</div>

<% include ./partials/upcoming.ejs%>
<% include ./partials/footer.ejs%>
