body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EDEDED;
}

a {
  color: #00B7FF;
  font-family: 'Merienda', cursive;
}

h1 {
  font-size: 3em;
  font-family: 'Do Hyeon', sans-serif;
  color: #FFF;
}

h3{
  font-size: 2em;
  font-family: 'Gloria Hallelujah', bold;
  font-weight: bold;
  color: #4786c1;
}

p{
  font-size: 1.5em;
  font-family: 'Merienda', cursive;
}

 ol li{
   font-size: 1.5em;
   font-family: 'Merienda', cursive;
 }

 hr{
   border-color: #FFF;
 }

.institute{
  color: #FFF;
  font-variant: small-caps;
  font-family: 'Arial';
}

.jumbotron{
  background-color: #43484c!important;
}

.nav-link{
  font-size: 1.3em;
  color: #e88a4c!important;
  font-variant: small-caps;
}

.nav-link:hover{
  color: #32a323!important;
  opacity: 0.8;
}

.navbar-brand{
  color: #e88a4c!important;
}

.navbar-brand:hover{
  color: #32a323!important;
  opacity: 0.8;
}

.dropdown-toggle{
  cursor: pointer;
}

.white{
  color: #FFF;
}

.foot{
  font-size: 1.1em;
  font-family: 'Merienda', cursive;
}

.bottom{
  margin-bottom: 0!important;
}

.foot-nav{
  list-style-type:none;
  float: right!important;
}

.foot-nav li{
  text-align:right;
  margin-right:20px;
  margin-bottom:10px;
  transition:all 0.2s;
}

.foot-nav li:hover{
  margin-right: 30px;
}

.foot-nav li a{
  color: #FFF;
}

.foot-nav li a:hover{
  text-decoration:none;
  color: #fcd1b5;
}

.upcoming{
  border: #44494E solid 2px;
  background-color: #919199;
}

.useful-links a{
  font-size: 1.3em;
}

.rm-dot{
  list-style-type:none;
}

.rm-dot ul{
  list-style-type:none;
}

.rm-dot ul{
  text-align: left;
  margin-top: 65px;
}
