<!DOCTYPE html>
<% include ./partials/header.ejs %>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Team</title>
  </head>
  <body>
    <ul>
      <li> Principal Investigator <br> <img src="image1.jpg" alt="">
        Dr. Sandeep Chaudhary
        Email: schaudhary@iiti.ac.in
        Phone: +91 7324 306 540
      </li>
      <li> Co-Investigator <br> <img src="image2.jpg" alt="">
        Dr. Santosh Kumar Vishwakarma
        Email: skvishvakarma@iiti.ac.in
        Phone: +91 7324 306 595
      </li>
      <li> Co-Investigator <br> <img src="image3.jpg" alt="">
        Dr. Vinod Kumar
        E-mail: vkt@iiti.ac.in
        Phone: +91 7324 306 533
      </li>
      <li> Co-Investigator <br> <img src="image4.jpg" alt="">
        Dr. Ajay Kumar Kushwaha
        E-mail: akk@iiti.ac.in
        Phone: +91 7324 306 532
      </li>
  </ul>
  </body>
</html>
